---
/**
 * An Astro component to display skeleton loading placeholders for review cards
 */

// Props definition
interface Props {
	count?: number
}

// Default to 3 skeleton cards if count isn't specified
const { count = 3 } = Astro.props
---

{
	// Create the specified number of skeleton cards
	Array.from({ length: count }).map((_, index) => (
		<div
			class="my-5 flex animate-pulse flex-col gap-5 sm:flex-row"
			style={{
				animationDelay: `${index * 0.66}s`,
			}}
		>
			<div class="bg-alt-light dark:bg-alt-dark hidden h-[153.25px] w-full rounded sm:block sm:max-w-[150px]" />
			<article class="bg-alt-light dark:bg-alt-dark h-[153.25px] w-full min-w-0 rounded p-0" />
		</div>
	))
}
