---
import { Picture as AstroPicture, getConfiguredImageService, getImage } from "astro:assets"
import type { LocalImageServiceWithPlaceholder } from "src/imageService"
/**
 * If you want to understand this component, you'll need to look at :
 * -> src/imageService.ts
 */
const imageService = (await getConfiguredImageService()) as LocalImageServiceWithPlaceholder
const placeholderURL = await imageService.generatePlaceholder(
	Astro.props.src.src,
	Astro.props.src.width,
	Astro.props.src.height
)
const goodQualityURL = await getImage({
	src: Astro.props.src,
})

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const { caption, source, ...props } = Astro.props as any
---

<figure class="my-6">
	<AstroPicture
		{...props}
		data-zoomable
		data-zoom-src={goodQualityURL}
		width={Astro.props.src.width / 2}
		densities={Astro.props.densities ?? [1.5, 2]}
		formats={Astro.props.formats ?? ["webp"]}
		class="w-full overflow-hidden rounded"
		style={`background-size: cover;background-image: url(${placeholderURL});image-rendering:auto;`}
		onload="this.style.backgroundSize = null; this.style.backgroundImage = null; this.style.imageRendering = null; this.removeAttribute('onload');"
	/>
	<figcaption class="mx-8 my-2 text-pretty text-center text-xs italic sm:text-sm">
		{caption}
		{source && <a href={source}> Source</a>}
	</figcaption>
</figure>
