---
import { type ChangelogEntry } from "./Changelog.astro"

/**
 * A Changelog Entry to be displayed in src/components/ChangelogCard.astro
 * @param entry - What's the changelog entry ?
 */
interface Props {
	entry: ChangelogEntry
}

const { entry } = Astro.props
const { Content } = await (entry.render?.() ?? { Content: null })
---

<li class="my-5 flex flex-row gap-2.5">
	<div class="changelog grow">
		<strong>{entry.name}:</strong>
		<span set:html={entry.description} />
		{entry.url && <a href={entry.url}>{entry.url_caption}</a>}
		{Content && <Content />}
	</div>
</li>
