# build output
dist/
.netlify/

# generated types
.astro/

# generated assets
public/assets/images

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# Cache
.cache/

# test coverage
coverage/

# macOS-specific files
.DS_Store

# local script output (exports, dumps…)
scripts/output/

# misc
.tool-versions
