# build output
dist/

# generated types
.astro/

# generated images
public/assets/images

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# Cache
.cache/

# macOS-specific files
.DS_Store
