---
/**
 * Wnen I want to enphasize a break between two paragraphs, but I don't
 * want to use a h3 title (or just a hidden h3), I use this asterism.
 * See -> https://en.wikipedia.org/wiki/Asterism_(typography)
 */
---

<div class="my-5 text-center text-base sm:text-lg">⁂</div>
