---
import { getCollection } from "astro:content"
import ResumeCard from "./ResumeCard.astro"

// get all experiences entries
const experiencesEntries = await getCollection("experiences")

experiencesEntries.sort((a, b) => {
	// if both have an end date, sort by end date (most recent first)
	if (a.data.end_date && b.data.end_date) {
		return b.data.end_date.getTime() - a.data.end_date.getTime()
		// if both don't have an end date, sort by start date (oldest first)
	} else if (!a.data.end_date && !b.data.end_date) {
		return a.data.start_date.getTime() - b.data.start_date.getTime()
		// if one has an end date and the other doesn't
	} else {
		return a.data.end_date ? 1 : -1
	}
})
---

<section>
	<h2 class="mb-2.5" id="last_entries">Experiences</h2>
	{experiencesEntries.map((experience) => <ResumeCard experience={experience} />)}
</section>
<style is:global>
	.resume-card p {
		@apply my-1.5;
	}
</style>
