---
import type { CollectionEntry } from "astro:content"
import { render } from "astro:content"
import { formatDateRange } from "src/dateUtils"
/**
 * An experience card to display in the resume section.
 * @param experience - What's the experience to display?
 */
interface Props {
	experience: CollectionEntry<"experiences">
}

const { experience } = Astro.props
const { Content } = await render(experience)
---

<article
	class="resume-card print:page-break-avoid my-5 flex flex-col gap-1.5 pb-2.5"
>
	<div class="flex flex-row justify-between">
		<h3 class="my-0" set:html={experience.data.company} />
		<span>
			{formatDateRange(experience.data.start_date, experience.data.end_date)}
		</span>
	</div>
	<Content />
</article>
