---
import { formatDate, isEntryPublished } from "src/utils"
import Block from "../blocks/Block.astro"
import type { CollectionEntry } from "astro:content"
/**
 * Used to present an entry as a card, also a link to that entry.
 * ⚠️ Duplication of src/components/Card.js ⚠️
 * Sadly, Astro can't SSR web components yet. So Card.js is used in the CSR
 * search.astro script. And this component is used for SSR, for example to
 * render the default results (before the script is loaded or if JS is disabled).
 */
interface Props {
	entry: CollectionEntry<"blog">
	image?: string
}

const { entry, image } = Astro.props
---

<Block image={image || entry.data.image} imageDark={entry.data.image_dark} to={`/${entry.id}`}>
	<h3>
		{entry.data.title}
		{!isEntryPublished(entry.data.published, true) && <span class="badge">Draft</span>}
	</h3>
	<p
		class="line-clamp-4 text-ellipsis sm:line-clamp-3"
		set:html={entry.data.abstract +
			` —<span class="whitespace-nowrap"> ${formatDate(entry.data.date)}</span></span>`}
	/>
</Block>
