---
import { Image } from "astro:assets"
/**
 * Used to present an something as a card, also a link to that something.
 */
interface Props {
	image?: ImageMetadata | string
	to: string
}

const { image, to } = Astro.props
---

<a href={to} class="card">
	{image && <Image src={image as ImageMetadata} width={500} height={500} alt="" />}
	<article>
		<slot />
	</article>
</a>
