---
import { Image } from "astro:assets"
/**
 * Used to present an something as a card, also a link to that something.
 */
interface Props {
  image: string
  to: string
}

const { image, to } = Astro.props
---

<a
  href={to}
  class="not-prose my-12 flex flex-col sm:flex-row overflow-hidden rounded-lg hover:bg-highlight-light dark:hover:bg-highlight-dark"
>
  <div class="h-[150px] sm:h-auto sm:max-h-44 w-auto sm:w-[150px] shrink-0">
    <Image src={image} width={500} height={500} alt="" class="w-full h-full object-cover" />
  </div>
  <article class="mx-6 my-5 min-w-0 text-base-black dark:text-base-white">
    <slot />
  </article>
</a>
