---
import Layout from "$layouts/Layout.astro"
/**
 * This will build to a 404.html page. Most deploy services will find and use it.
 */
---

<Layout title="Oops">
	<section>
		<h1>Oops</h1>
		<p>
			The page you are looking for doesn't exist or has been deleted. <a href="/">Return to home</a
			>?
		</p>
	</section>
</Layout>
