---
import ReturnHome from "$components/controls/ReturnHome.astro"
import Layout from "$layouts/Layout.astro"
/**
 * This will build to a 404.html page. Most deploy services will find and use it.
 */
---

<Layout title="Oops">
	<section>
		<h1>
			Oops<span class="ml-1.5 inline-block rotate-6 font-normal">✋</span>
		</h1>
		<p>The page you are looking for doesn't exist or has been deleted.</p>
		<p>
			<ReturnHome />
		</p>
	</section>
</Layout>
