---
import Hero from "$components/Hero.astro"
import Layout from "$layouts/Layout.astro"
import GithubInline from "$components/inlines/GithubInline.astro"
import LinkInline from "$components/inlines/LinkInline.astro"
import Section from "$components/Section.astro"
import Changelog from "$components/changelog/Changelog.astro"

/**
 * Misc page with legal notice, changelog, etc.
 */
const pageTitle = "About this blog"
const githubReleaseLink = "https://github.com/goulvenclech/goulven-clech.dev/releases"
---

<Layout title={pageTitle} icon="📜">
  <Hero title={pageTitle}>Everything you need to know about this blog, and more.</Hero>
  <Section title="Legal notice">
    <p>
      <bold class="font-bold">Published by:</bold>
      <GithubInline user="35667800" />, domiciled in Toulouse, France. Contact me by
      <LinkInline to="mailto:goulven.clech@protonmail.com">email</LinkInline>.
    </p>
    <p>
      <bold class="font-bold">Hosted by:</bold>
      <LinkInline to="https://vercel.com/">Vercel</LinkInline>, domiciled in Covina, California,
      USA. Contact them by
      <LinkInline to="mailto:privacy@vercel.com">email</LinkInline>.
    </p>
    <p>
      <bold class="font-bold">Data & cookies policy:</bold>
       This website does not use cookies. It does not collect any personal data. Analytics are
      anonymized and aggregated.
    </p>
    <p>
      <bold class="font-bold">Licenses:</bold>
       The source code is provided under the
      <LinkInline to="https://spdx.org/licenses/0BSD.html">0BSD license</LinkInline>, attribution is
      appreciated but not required. The blog textual content is provided under the
      <LinkInline to="https://spdx.org/licenses/CC-BY-4.0.html">CC BY 4.0 Deed</LinkInline>,
      attribution is required. But for both, you are free to use, copy, modify, and/or distribute
      for any purpose, commercial or personal.
    </p>
    <p>
      <bold class="font-bold">Others licenses:</bold>
       Some articles may cite text, images or resources from external sources. Their original
      licenses apply, and I indicate the authors if known.
    </p>
  </Section>
  <Section title="Changelog">
    <p>
      An historic of every articles, pages, features and content changes made to this blog. For a
      more technical changelog, go to
      <LinkInline to={githubReleaseLink}>GitHub releases</LinkInline>.
      <Changelog />
    </p>
  </Section>
</Layout>
