---
import Layout from "$layouts/Layout.astro"
import GithubInline from "$components/inlines/GithubInline.astro"

import Changelog from "$components/changelog/Changelog.astro"

/**
 * Misc page with legal notice, changelog, etc.
 */
const pageTitle = "About this blog"
const githubReleaseLink = "https://github.com/goulvenclech/goulven-clech.dev/releases"
---

<Layout title={pageTitle}>
	<section>
		<h1>{pageTitle}</h1>
		<p>Everything you need to know about <a href="/">my blog</a>, and more.</p>
	</section>
	<section>
		<h2 id="legal_notice">Legal notice</h2>
		<p>
			<strong>Published by:</strong>
			<GithubInline user="35667800" />, domiciled in Toulouse, France. Contact me by
			<a href="mailto:goulven.clech@protonmail.com">email</a>.
		</p>
		<p>
			<strong>Hosted by:</strong>
			<a href="https://vercel.com/">Vercel</a>, domiciled in Covina, California, <abbr>USA</abbr>.
			Contact them by
			<a href="mailto:privacy@vercel.com">email</a>.
		</p>
		<p>
			<strong>Data & cookies policy:</strong>
			This website does not use cookies. It does not collect any personal data. Analytics are anonymized
			and aggregated.
		</p>
		<p>
			<strong>Licenses:</strong>
			The source code is provided under the
			<a href="https://spdx.org/licenses/0BSD.html"><abbr>0BSD</abbr> license</a>, attribution is
			appreciated but not required. The blog textual content is provided under the
			<a href="https://spdx.org/licenses/CC-BY-4.0.html"><abbr>CC BY 4.0</abbr> Deed</a>,
			attribution is required. But for both, you are free to use, copy, modify, and/or distribute
			for any purpose, commercial or personal.
		</p>
		<p>
			<strong>Others licenses:</strong>
			Some entries may cite text, images or resources from external sources. Their original licenses
			apply, and I indicate the authors if known.
		</p>
	</section>
	<section>
		<h2 id="changelog">Changelog</h2>
		<p>
			An historic of this blog, its new features and page redesigns, with examples. For a more
			technical changelog, go to
			<a href={githubReleaseLink}>GitHub releases</a>.
			<Changelog />
		</p>
	</section>
</Layout>
