---
import GithubInline from "$components/inlines/GithubInline.astro"
import Layout from "$layouts/Layout.astro"
import Search from "$components/Search.astro"
/**
 * Home page of our blog, so we have to make a good first impression 💅
 * Contains a presentation of myself (I love talking about myself) and the blog,
 * then display the last blog entries & some tags you could be interessed in.
 */

// Page title use in Hero & Metadata
const pageTitle = "Hello"
---

<Layout title={pageTitle}>
  <section>
    <h1>Hello 👋</h1>
    <p>I'm <GithubInline user="35667800" />, a software developer based in Toulouse, France.</p>
    <p>
      Currently, I'm working for the auction platform
      <a href="https://encheres-immo.com">Enchères Immo</a>, and I'm the co-founder of <a
        href="https://gamedevalliance.fr/">Game Dev Alliance</a
      >.
    </p>
    <p>
      Here, I chat about <a href="/tag-web development">web development</a>, <a href="/tag-coffee"
        >coffee</a
      >...
    </p>
  </section>
  <section>
    <h2 id="last_entries">Last Entries</h2>
    <Search />
  </section>
</Layout>
