---
import Hero from "$components/Hero.astro"
import GithubInline from "$components/inlines/GithubInline.astro"
import LinkInline from "$components/inlines/LinkInline.astro"
import TagInline from "$components/inlines/TagInline.astro"
import Section from "$components/Section.astro"
import Layout from "$layouts/Layout.astro"
import Search from "$components/Search.astro"
/**
 * Home page of our blog, so we have to make a good first impression 💅
 * Contains a presentation of myself (I love talking about myself) and the blog,
 * then display the last blog entries & some tags you could be interessed in.
 */

// Page title use in Hero & Metadata
const pageTitle = "Hello 👋"
---

<Layout title={pageTitle}>
  <Hero title={pageTitle} parents={[]}>
    <p>I'm <GithubInline user="35667800" />, a software developer based in Toulouse, France.</p>
    <p>
      Currently, I'm working for the auction platform
      <LinkInline to="https://encheres-immo.com">Enchères Immo</LinkInline>, and I'm the co-founder
      of <LinkInline to="https://gamedevalliance.fr/">Game Dev Alliance</LinkInline>.
    </p>
    <p>
      Here, I chat about <TagInline tag="web development" />, <TagInline tag="coffee" />...
    </p>
  </Hero>
  <Section title="My articles">
    <Search />
  </Section>
</Layout>
