---
import GithubInline from "$components/typography/GithubInline.astro"
import Layout from "$layouts/Layout.astro"
import Search from "$components/Search.astro"
import { getMyAge } from "src/utils"
/**
 * Home page of my blog, so I have to make a good first impression 💅
 * Contains a presentation of myself (I love talking about myself) and the blog,
 * then display the last blog entries & some tags you could be interessed in.
 */

// Page title use in Hero & Metadata
const pageTitle = "Hello"
---

<Layout title={pageTitle}>
	<section>
		<h1>Hello<span>✌</span></h1>
		<p>
			I'm <GithubInline user="35667800" />, a {getMyAge()} yo software developer based in Toulouse, France.
		</p>
		<p>
			Mainly working in the <i>Elixir</i>, <i>Rust</i>, and <i>TypeScript</i> web ecosystems, I'm currently
			the lead developer of
			<a href="https://encheres-immo.com">Enchères Immo</a>, a real estate auction platform, and the
			co-creator of <a href="https://github.com/web-lsp/weblsp/">WEBlsp</a>, a language server for
			the web. Learn more on my <a href="/resume">resume</a>.
		</p>
		<p>
			Interested in <i>functional programming</i> and <i>software craftsmanship</i>, I want to
			deliver maintainable and performant software, that solve real-world problems. I also love
			talking about <a href="/tag-game development">game development</a> and
			<a href="/tag-coffee">specialty coffees</a>.
		</p>
	</section>
	<section>
		<h2 id="last_entries">Blog entries</h2>
		<Search />
	</section>
</Layout>
<style>
	h1 span {
		@apply ml-1.5 inline-block font-normal;
		transform: rotate(5deg);
	}
</style>
