---
import GithubInline from "$components/typography/GithubInline.astro"
import Layout from "$layouts/Layout.astro"
import Search from "$components/Search.astro"
import { getMyAge } from "src/utils"
/**
 * Home page of my personal website, so I have to make a good first impression 💅
 * Contains a short introduction and the latest blog entries.
 */

// Page title use in Hero & Metadata
const pageTitle = "Hello"
---

<Layout title={pageTitle}>
	<section>
		<h1>Hello<span>✌</span></h1>
		<p>
			I'm <GithubInline user="35667800" />, a {getMyAge()} yo software developer based in Toulouse, France.
		</p>
		<p>
			Mainly working in the <i>Elixir</i>, <i>Rust</i>, and <i>TypeScript</i> web ecosystems, I'm currently
			the lead developer of
			<a href="https://encheres-immo.com">Enchères Immo</a>, a real estate auction platform, and the
			co-creator of <a href="https://github.com/bruits">Bruits</a>, a <i>Rust</i>-focused open
			source collective. Learn more on my <a href="/resume">résumé</a>.
		</p>
		<p>
			Interested in <i>functional programming</i> and <i>software craftsmanship</i>, I blog my
			journey to building maintainable, performant, and useful software. But I also love talking
			about <a href="/?tag=game development">game development</a> and
			<a href="/?tag=coffee">specialty coffees</a>.
		</p>
	</section>
	<section>
		<Search />
	</section>
</Layout>
<style>
	@reference "$assets/base.css";

	h1 span {
		@apply ml-1.5 inline-block font-normal;
		transform: rotate(5deg);
	}
</style>
