---
/**
 * DarkMode button and script logic. This button toggles between dark, light and system
 * theme and saves the choice in localStorage. It also changes the button icon to
 * reflect the current theme. An inline script is used to init it at page load.
 * See inline script -> src/layouts/BaseLayout.astro
 * See dark mode by Tailwind CSS -> https://tailwindcss.com/docs/dark-mode
 */
---

<button name="darkMode" class="ml-auto font-bold hover:text-primary dark:hover:text-primary"
></button>

<script>
	// Get the button element above (can be multiple)
	const buttons = document.getElementsByName("darkMode")
	// And add an event listener to it (if it/they exist)
	buttons?.forEach((button) => {
		button.addEventListener("click", () => {
			// Get the current theme from localStorage
			const theme = localStorage.getItem("color_theme") as Theme
			// And change it to the next one
			changeTheme(theme)
		})
	})

	// Theme can be "dark" or "light" or the browser preference ("system")
	// "System" is the default theme if no preference is set
	type Theme = "dark" | "light" | "system"

	/**
	 * On click, change the theme to the next one (system -> light -> dark -> system)
	 * Save the choice in localStorage and change the button icon to reflect the current theme.
	 * Then apply the theme to the document.
	 * @param theme - What's the current theme?
	 */
	const changeTheme = (theme: Theme) => {
		switch (theme) {
			case "system":
				localStorage.setItem("color_theme", "light")
				if (buttons) changeIcon("light", buttons)
				document.documentElement.classList.remove("dark")
				document.documentElement.setAttribute("data-theme", "light")
				break
			case "light":
				localStorage.setItem("color_theme", "dark")
				if (buttons) changeIcon("dark", buttons)
				document.documentElement.classList.add("dark")
				document.documentElement.setAttribute("data-theme", "dark")
				break
			case "dark":
				localStorage.setItem("color_theme", "system")
				if (buttons) changeIcon("system", buttons)
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					document.documentElement.classList.add("dark")
					document.documentElement.setAttribute("data-theme", "dark")
				} else {
					document.documentElement.classList.remove("dark")
					document.documentElement.setAttribute("data-theme", "light")
				}
				break
			// Should never happen, but just in case fallback as system
			default:
				localStorage.setItem("color_theme", "system")
				if (buttons) changeIcon("system", buttons)
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					document.documentElement.classList.add("dark")
					document.documentElement.setAttribute("data-theme", "dark")
				} else {
					document.documentElement.classList.remove("dark")
					document.documentElement.setAttribute("data-theme", "light")
				}
				break
		}
	}
	/**
	 * Change the button icon to reflect the current theme
	 * @param theme - What's the theme to reflect?
	 */
	const changeIcon = (theme: Theme, buttons: NodeListOf<HTMLElement>) => {
		switch (theme) {
			case "light":
				buttons.forEach((button) => {
					button.innerHTML = `<i title="Click for dark mode" class="fa-solid fa-sun"></i>`
				})
				break
			case "system":
				buttons.forEach((button) => {
					button.innerHTML = `<i title="Click for light mode" class="fa-solid fa-laptop"></i>`
				})
				break
			// Apply for case "dark" or undefined, fallback to dark
			default:
				buttons.forEach((button) => {
					button.innerHTML = `<i title="Click for system mode" class="fa-solid fa-moon"></i>`
				})
				break
		}
	}

	// At page load, init the button icon to reflect the current theme
	if (buttons) changeIcon(localStorage.color_theme || "system", buttons)
</script>
