---
import HealthGauge from "./HealthGauge.astro"

export interface Props {
	steps: number
	sleep: number
	energy: number
}
const { steps, sleep, energy } = Astro.props
---

<div class="flex aspect-square w-1/8 items-center justify-center">
	<svg viewBox="0 0 120 120" class="h-full w-full">
		<HealthGauge radius={54} value={steps} max={7500} strokeClass="stroke-primary" />
		<HealthGauge radius={40} value={sleep} max={7} strokeClass="stroke-success" />
		<HealthGauge radius={26} value={energy} max={100} strokeClass="stroke-info" dimThreshold={75} />

		<text
			x="60"
			y="60"
			text-anchor="middle"
			dominant-baseline="middle"
			class="text-lg font-bold select-none">{energy}</text
		>
	</svg>
</div>
