---
/**
 * A generic Astro component to display skeleton loading placeholders for cards
 * Can be used for both blog entries and catalogue reviews
 */

// Props definition
interface Props {
	count?: number
}

// Default to 3 skeleton cards if count isn't specified
const { count = 3 } = Astro.props
---

{
	// Create the specified number of skeleton cards
	Array.from({ length: count }).map((_, index) => (
		<div
			class="flex animate-pulse gap-5 py-5"
			style={{
				animationDelay: `${index * 0.66}s`,
			}}
		>
			<div class="bg-alt-light dark:bg-alt-dark hidden h-40 w-37.5 flex-none sm:block" />
			<article class="bg-alt-light dark:bg-alt-dark h-40 w-full min-w-0 p-0" />
		</div>
	))
}
