---
/**
 * Used to display the main page title.
 * TODO: is this needed?
 * @param {string} title - What is this page about?
 */
interface Props {
  title: string
  isHome?: boolean
}

const { title } = Astro.props
---

<section class="my-12 sm:mt-24">
  <h1>
    {title}
  </h1>
  <slot />
</section>
