---
import Parents, { Parent } from "./Parents.astro"
/**
 * Used to display the main page title, and the parents nav bar.
 * @param {string} title - What is this page about?
 * @param {Array<Parent>} parents - What are this page parents?
 */
interface Props {
  title: string
  parents: Array<Parent>
}

const { title, parents } = Astro.props
---

<section class="py-16">
  <nav>
    <Parents parents={parents} />
    <h1 class="pb-6 pt-2 text-3xl font-bold leading-tight md:text-4xl md:leading-tight">
      {title}
    </h1>
    <slot />
  </nav>
</section>
