---
import Parents, { Parent } from "./Parents.astro"

export interface Props {
  title: string
  parents: Array<Parent>
}

const { title, parents } = Astro.props
---

<section class="py-14">
  <ul>
    <Parents parents={parents} />
    <h1 class="pb-3 text-5xl font-bold leading-normal">
      {title}
    </h1>
    <slot />
  </ul>
</section>
