---
/**
 * Used to display the main page title, and the go home button.
 * @param {string} title - What is this page about?
 * @param {boolean} isHome - Is this the home page?
 */
interface Props {
  title: string
  isHome: boolean
}

const { title, isHome } = Astro.props
---

<section class="my-12 sm:mt-24">
  <nav>
    {
      !isHome && (
        <div class="pb-6">
          <a href="/" class="font-bold hover:text-primary dark:hover:text-primary">
            <i class="fas fa-arrow-left" />
            Home
          </a>
        </div>
      )
    }
    <h1
      class="text-base-black dark:text-base-white pb-6 font-bold leading-tight text-3xl sm:text-4xl sm:leading-tight"
    >
      {title}
    </h1>
    <slot />
  </nav>
</section>
