---
// TO DO: should this really be there ? 🤔
export type Parent = "home" | "blog"
/**
 * A nav bar allowing fast navigation to this page's parents.
 * @param {Array<Parent>} parents - What are this page parents?
 */
interface Props {
  parents: Array<Parent>
}

const { parents } = Astro.props
---

<ul class="flex items-center py-2 text-sm font-bold">
  {
    parents.map((parent) => (
      <>
        {
          // As always, we use cute icons to represents pages
          parent == "home" && (
            <a href="/" title="Return to the homepage" class="hover:text-primary px-2">
              <i class="fa-solid fa-house" />
            </a>
          )
        }
        {parent == "blog" && (
          <a href="/blog" title="Return to all articles" class="hover:text-primary px-2">
            <i class="fa-solid fa-newspaper text-base" />
          </a>
        )}
        <i class="fa-solid fa-chevron-right" />
      </>
    ))
  }
</ul>
