---
// TODO: Now that the pages "tags" & "articles" are gone, should I do that differently ? 🤔
export type Parent = "home"
/**
 * A nav bar allowing fast navigation to this page's parents.
 * @param {Array<Parent>} parents - What are this page parents?
 */
interface Props {
  parents: Array<Parent>
}

const { parents } = Astro.props
---

<ul class="flex items-center pb-3 text-sm font-bold">
  {
    parents.map((parent) => (
      <>
        {
          // As always, we use cute icons to represents pages
          parent == "home" && (
            <li>
              <a href="/" title="Return to the homepage" class="hover:text-primary px-2">
                <i class="fa-solid fa-house" />
              </a>
            </li>
          )
        }
        <i class="fa-solid fa-chevron-right" />
      </>
    ))
  }
</ul>
