/*
  This file is used as base styling. Because I don't like using TailwindCSS plugins
  (See -> https://tailwindcss.com/docs/adding-custom-styles#writing-plugins )
  nor Astro's global style balise (See -> https://docs.astro.build/guides/styling#global-styles )

  Unlike my friend Aurélien ( https://aureliendossantos.com/website ) I'm not interested in
  diverse page styles nor conserving old page styles. I prefer a unique and unified style 
  which will evolve with me, and will force me to change the shape of the old pages.
  I think this is the best way to make the different components of a page recognizable 
  (like a link or a title) and to ensure the continued evolution of accessibility.

  This file contain extensive use of TailwindCSS's @apply directive.
  (See -> https://tailwindcss.com/docs/functions-and-directives#apply )

  Specific styling for each component is done in the component's file. Using TailwindCSS.
  (Example -> src/components/icons/ToTop.astro )
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * FONTS
  * Source Serif 4 for the body text (p, h1, h2, h3, etc.)
  * Iosevka for the mono text (code, pre, etc.)
 */
@font-face {
  font-family: "Source Serif 4";
  src: url("/SourceSerif4-Regular.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/SourceSerif4-It.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/SourceSerif4-Semibold.otf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/SourceSerif4-SemiboldIt.otf.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  src: url("/Iosevka-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  src: url("/Iosevka-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  src: url("/Iosevka-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  src: url("/Iosevka-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/**
  * BASE LAYER
  * See -> https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles
  */
@layer base {
  body {
    @apply bg-body-light font-sans text-sm text-font-light dark:bg-body-dark dark:text-font-dark sm:text-base;
    /* This line activates standard ligatures (liga) and contextual ligatures (clig). The 1 after each feature tag enables the feature. */
    font-feature-settings:
      "liga" 1,
      "clig" 1;
    /* This line activates proportional old style numbers. */
    font-feature-settings: "onum";
  }

  /*
    TYPOGRAPHY
  */
  p {
    @apply mb-6 text-sm leading-relaxed sm:text-base;
  }

  h1,
  h2,
  h3 {
    @apply mb-6 mt-12 font-bold leading-none text-font-light dark:text-font-dark;
  }

  h1 {
    @apply text-lg sm:text-xl;
  }

  h2 {
    @apply text-base sm:text-lg;
  }

  /*
    ENTRIES ONLY TYPOGRAPHY
  */
  /* If an entry start with a title (so it appear in the TOC) 
    hide it for a better reading flow */
  #entry h2:first-child {
    @apply invisible m-0 h-0;
  }

  #entry > ul,
  #entry > ol {
    @apply list-inside;
  }

  #entry > ul {
    @apply mb-6 list-disc;
  }

  #entry > ol {
    @apply mb-6;
  }

  #entry > ol > li,
  #entry > ul > li {
    @apply mb-3 ml-0;
  }

  @media screen(sm) {
    #entry > ul,
    #entry > ol {
      @apply list-outside;
    }
  }

  #entry li code,
  #entry p code {
    overflow-wrap: break-word;
    @apply rounded border-[1.5px] border-[#f6b9ab] bg-alt-light px-1 py-[0.125rem] font-mono text-xs dark:border-[#45485d] dark:bg-alt-dark sm:text-sm;
  }

  abbr,
  strong {
    font-feature-settings: "smcp", "c2sc";
    letter-spacing: 0.05em;
    margin-right: -0.05em;
    @apply font-normal not-italic no-underline;
  }

  /*
    BASE COMPONENTS
  */
  section {
    @apply my-12 sm:my-18;
  }

  /*
    LINKS
  */
  p a,
  #toc a,
  .changelog > a {
    /* decoration has a fixed value, so it doesn't change with the font size */
    @apply whitespace-nowrap text-font-light underline decoration-dotted decoration-[0.1rem] underline-offset-[3px] hover:text-primary dark:text-font-dark dark:hover:text-primary;
  }

  p a[href^="/tag-"]::before {
    content: "\f02b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.75rem;
    padding-right: 0.2rem;
    color: inherit;
    display: inline-block;
  }

  p a[href^="http://"]::after, p a[href^="https://"]::after,
  .changelog > a[href^="http://"]::after, .changelog > a[href^="https://"]::after
  {
    content: "\f360";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.65rem;
    padding-left: 0.2rem;
    color: inherit;
    display: inline-block;
  }

  p a[href^="https://www.youtube.com/"]::after, p a[href^="https://youtu.be/"]::after
  {
    content: "\f167";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  p a[href^="https://en.wikipedia.org/"]::after, p a[href^="https://fr.wikipedia.org/"]::after
  {
    content: "\f266";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  p a[href^="https://www.instagram.com/"]::after
  {
    content: "\f16d";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  p a[href^="https://github.com/"]::after
  {
    content: "";
    padding-left: 0;
  }

  p a[href^="mailto"]::after {
    content: "\f1d8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.65rem;
    padding-left: 0.2rem;
    color: inherit;
    display: inline-block;
  }

  /*
    LISTS
  */

  ol li {
    @apply ml-4 list-decimal p-0;
  }

  /* 
    Use ol li::before { content: none;} to remove the default marker.
    Then we add our own style using the ::marker pseudo-element.

    NESTED LISTS 
    counters() is used to support nested lists.
    (See -> https://developer.mozilla.org/en-US/docs/Web/CSS/counters )
    "\a0\a0" is used to add a double space between the marker and the list item.
    (instead of the default dot and single space)

    SAFARI FALLBACK
    ::marker is not supported in Safari so I can't use `list-none` or nothing will be displayed.
    That's why li::before { content: none;}, `list-decimal` serve as a fallback for Safari.
  */
  ol li::before {
    content: none;
  }

  ol li::marker {
    content: counters(list-item, ".") "\a0\a0";
  }

  @media screen(sm) {
    ol li {
      @apply ml-0;
    }
  }
}
