/*
  This file is used as base styling. Because I don't like using TailwindCSS plugins
  (See -> https://tailwindcss.com/docs/adding-custom-styles#writing-plugins )
  nor Astro's global style balise (See -> https://docs.astro.build/guides/styling#global-styles )

  Unlike my friend Aurélien ( https://aureliendossantos.com/website ) I'm not interested in
  diverse page styles nor conserving old page styles. I prefer a unique and unified style
  which will evolve with me, and will force me to change the shape of the old pages.
  I think this is the best way to make the different components of a page recognizable
  (like a link or a title) and to ensure the continued evolution of accessibility.

  This file contain extensive use of TailwindCSS's @apply directive.
  (See -> https://tailwindcss.com/docs/functions-and-directives#apply )

  Specific styling for each component is done in the component's file. Using TailwindCSS.
  (Example -> src/components/controls/ToTop.astro )
*/
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-*: initial;
  --text-xs: 14px;
  --text-xs--line-height: 20px;
  --text-sm: 16px;
  --text-sm--line-height: 20px;
  --text-base: 18px;
  --text-base--line-height: 28px;
  --text-lg: 20px;
  --text-lg--line-height: 28px;
  --text-xl: 24px;
  --text-xl--line-height: 28px;
  --text-2xl: 30px;
  --text-2xl--line-height: 28px;

  --color-*: initial;
  --color-font-light: #262421;
  --color-font-dark: #e8e8e8;

  --color-body-light: #fff;
  --color-body-dark: #1c1e26;

  --color-alt-light: #f4f4f5;
  --color-alt-dark: #2e303e;

  --color-primary: #e95678;

  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --font-serif: "EB Garamond", "Source Serif 4", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono: Iosevka, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-goofy: Abby, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  /**
 * FONTS
  * EB Garamond for core text (paragraph, title, etc.)
  * Iosevka for the mono text (code, pre, etc.)
  * Abby for personal annotations (goofy incoming)
 */
  @font-face {
    font-family: "EB Garamond";
    src: url("/EBGaramond/EBGaramond12-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "EB Garamond";
    src: url("/EBGaramond/EBGaramond12-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Abby";
    src: url("/Abby/AbbyYOFF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Iosevka";
    src: url("/Iosevka/Iosevka-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Iosevka";
    src: url("/Iosevka/Iosevka-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Iosevka";
    src: url("/Iosevka/Iosevka-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Iosevka";
    src: url("/Iosevka/Iosevka-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  /**
  * BASE LAYER
  * See -> https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles
  */
}

@layer base {
  body {
    @apply bg-body-light text-font-light dark:bg-body-dark dark:text-font-dark print:bg-body-light print:text-font-light print:dark:bg-body-light print:dark:text-font-light font-serif text-sm sm:text-base;
    font-feature-settings: "liga", "clig", "onum";
  }

  main {
    @apply mx-auto max-w-[590px] px-4 md:px-0;
  }

  /*
    TYPOGRAPHY
  */
  p {
    @apply relative my-5 text-sm sm:text-base;
  }

  h1,
  h2,
  h3 {
    @apply mt-10 mb-5;
    font-feature-settings: "liga", "clig", "onum", "ss01";
  }

  h1 {
    @apply text-xl text-pretty sm:text-2xl;
  }

  h2 {
    @apply text-lg text-pretty sm:text-xl;
  }

  h3 {
    @apply font-bold;
  }

  abbr,
  strong {
    @apply font-normal not-italic no-underline;
  }

  abbr {
    font-feature-settings: "c2sc";
    @apply uppercase;
  }

  i abbr {
    font-feature-settings: "c2sc";
    @apply uppercase italic;
  }

  strong {
    font-feature-settings: "smcp";
  }

  u {
    @apply decoration-primary underline decoration-[1.5px] underline-offset-2;
  }

  s {
    @apply decoration-primary line-through decoration-[1.5px] underline-offset-4;
  }

  /*
    BASE COMPONENTS
  */
  section {
    @apply my-10 sm:my-14;
  }

  .card {
    /* Only margin-bottom because card has sometimes prececed by an hidden title */
    @apply hover:bg-alt-light! hover:text-font-light! dark:hover:bg-alt-dark! dark:hover:text-font-dark! mb-5 flex flex-col overflow-hidden rounded-sm whitespace-normal no-underline before:content-none! sm:flex-row;
  }

  .card article {
    @apply mx-5 my-4 min-w-0 p-0;
  }

  .card img {
    /* height is based on the height of .card article, width is arbitrary */
    @apply h-[153.25px] w-full object-cover sm:max-w-[150px];
  }

  li code,
  p code {
    overflow-wrap: break-word;
    @apply border-alt-light dark:border-alt-dark rounded-sm border-[1.5px] px-1 py-[0.125rem] font-mono text-[13px] sm:text-[15px];
  }

  side-note,
  annotation {
    @apply my-5 block px-8 text-xs leading-snug;
  }

  side-note p {
    @apply text-xs leading-snug;
  }

  side-note code {
    @apply text-[13px];
  }

  annotation {
    @apply font-goofy text-primary leading-normal;
    transform: rotate(-1deg);
  }

  annotation a {
    @apply text-primary dark:text-primary hover:text-font-light dark:hover:text-font-dark;
  }

  @media (width >= theme(--breakpoint-xl)) {
    side-note,
    annotation {
      @apply relative float-right clear-right mt-0 mr-[-350px] w-[350px];
    }
  }

  /*
    LINKS
  */
  a,
  button {
    /* decoration has a fixed value, so it doesn't change with the font size */
    @apply text-font-light hover:text-primary dark:text-font-dark dark:hover:text-primary whitespace-nowrap underline decoration-dotted decoration-[0.1rem] underline-offset-[3px];
  }

  a[href^="http://"]::before, a[href^="https://"]::before,
	a[href^="/about"]::before, a[href^="/feed.xml"]::before,
	button::before {
    content: "\f0c1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.65rem;
    padding-right: 0.2rem;
    display: inline-block;
    @apply not-italic;
  }

  a[href^="/about"]::before {
    content: "\f05a";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
  }

  a[href^="/feed.xml"]::before {
    content: "\f09e";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
  }

  a[href^="https://www.youtube.com/"]::before, a[href^="https://youtu.be/"]::before
  {
    content: "\f167";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  a[href^="https://en.wikipedia.org/"]::before, a[href^="https://fr.wikipedia.org/"]::before
  {
    content: "\f266";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  a[href^="https://www.instagram.com/"]::before
  {
    content: "\f16d";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  a[href^="https://github.com/"]::before
  {
    content: "\f09b";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  a[href^="https://www.linkedin.com/"]::before
  {
    content: "\f08c";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  a[href^="mailto"]::after {
    content: "\f1d8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.65rem;
    padding-left: 0.15rem;
    color: inherit;
    display: inline-block;
  }

  button#toTop::before {
    content: "\f148";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding-left: 0.15rem;
    /* Flip horizontally */
    transform: scaleX(-1);
  }

  /*
    LISTS
  */

  ol li {
    @apply ml-4 list-decimal p-0;
  }

  /*
    Use ol li::before { content: none;} to remove the default marker.
    Then we add our own style using the ::marker pseudo-element.

    NESTED LISTS
    counters() is used to support nested lists.
    (See -> https://developer.mozilla.org/en-US/docs/Web/CSS/counters )
    "\a0\a0" is used to add a double space between the marker and the list item.
    (instead of the default dot and single space)

    SAFARI FALLBACK
    ::marker is not supported in Safari so I can't use `list-none` or nothing will be displayed.
    That's why li::before { content: none;}, `list-decimal` serve as a fallback for Safari.
  */
  ol li::before {
    content: none;
  }

  ol li::marker {
    content: counters(list-item, ".") "\a0\a0";
  }

  @media (width >= theme(--breakpoint-sm)) {
    ol li {
      @apply ml-0;
    }
  }

  /*
		MISC
	*/
  /* See -> https://github.com/expressive-code/expressive-code/issues/292 */
  .expressive-code :nth-child(1 of .ec-line) .code {
    padding-inline-end: 20px !important;
  }
}
