---
/**
 * A simple button to sroll to the top of the page.
 */
---

<button
  id="toTop"
  title="Go to top"
  class="flex font-bold hover:text-primary">
  <i class="fas fa-arrow-up" />
  <span class="text-base ml-1">Back to top</span>
</button>

<script is:inline>
  const toTopButton = document.getElementById("toTop")
  /* On click, scroll smoothly to the top of the page */
  toTopButton.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    })
  })
</script>