---
/**
 * A simple button to sroll to the top of the page.
 * It is hidden by default, and only appears when the page is higher than the window.
 */
---

<button
  id="toTop"
  title="Go to top"
  class="hidden font-bold hover:text-primary dark:hover:text-primary"
>
  <i class="fa-solid fa-arrow-turn-up fa-flip-horizontal"></i>
  <span class="ml-1 text-sm sm:text-base">Back to top</span>
</button>

<script is:inline>
  // Get the button above
  const toTopButton = document.getElementById("toTop")
  // Add an event: on click, scroll smoothly to the top of the page
  toTopButton.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    })
  })
  // Finally, wait for the page to fully load
  onload = (_event) => {
    // and if the page is higher than the window, display the button
    if (document.body.clientHeight > window.innerHeight) {
      toTopButton.classList.remove("hidden")
      toTopButton.classList.add("flex")
    }
  }
</script>
