---
import "@fontsource/cascadia-code"
import { inject } from "@vercel/analytics"
/**
 * Base of our html. Mainly html head & some global styles.
 * @param {string} title - What is this page about?
 */
interface Props {
  title: string
}

const { title } = Astro.props

// Vercel analytics
inject()
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Goulven Clec'h" />
    <meta
      name="description"
      content="I'm Goulven Clec'h, a web developer based in Toulouse, France. Welcome to my personal blog!"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://kit.fontawesome.com/3977585fab.js" crossorigin="anonymous" defer></script>
    <script defer src="/_vercel/insights/script.js"></script>
    <title>{title} | Goulven Clec'h</title>
  </head>
  <body
    class="text bg-body-light text-sm text-base-light dark:bg-body-dark dark:text-base-dark md:text-base"
  >
    <slot />
  </body>
</html>
<style is:global>
  html {
    @apply font-mono;
  }
  p {
    @apply mb-6 leading-[1.75];
  }
</style>
