---
import LinkInline from "$components/inlines/LinkInline.astro"
/**
 * Simple footer. Mainly used to give some credits to Cesar.
 */
---

<footer class="border-t-2 border-base-light py-4 dark:border-base-dark">
  <p>
    Source on <LinkInline to="https://github.com/GoulvenC/goulven-clech.dev">Github</LinkInline> - Powered
    by <LinkInline to="https://docs.astro.build/">Astro</LinkInline> - Hosted by
    <LinkInline to="https://www.netlify.com/">Netlify</LinkInline>
  </p>
</footer>
