---
import DarkMode from "$components/icons/DarkMode.astro"
import ToTop from "$components/icons/ToTop.astro"
/**
 * Simple footer. Mainly used to give some credits to Cesar.
 */
---

<footer class="mb-12 flex items-center gap-6 text-base-black dark:text-base-white">
  <ToTop />
  <DarkMode />
  <a
    class="hover:text-primary dark:hover:text-primary"
    href="https://github.com/goulvenclech/"
    title="See source code"
  >
    <i class="fab fa-github"></i>
  </a>
  <a
    class="hover:text-primary dark:hover:text-primary"
    href="https://www.linkedin.com/in/goulvenclech//"
    title="My LinkedIn profile"
  >
    <i class="fab fa-linkedin"></i>
  </a>
</footer>
