---
import DarkMode from "../components/icons/DarkMode.astro"
import ToTop from "../components/icons/ToTop.astro"
/**
 * Simple footer. Mainly used to give some credits to Cesar.
 */
---

<footer class="flex items-center mb-4 md:mb-6 gap-6">
  <ToTop />
  <DarkMode />
  <a class="hover:text-primary" href="https://github.com/goulvenclech/">
    <i class="fab fa-github"></i>
  </a>
  <a class="hover:text-primary" href="https://www.linkedin.com/in/goulvenclech//">
    <i class="fab fa-linkedin"></i>
  </a>
</footer>
