---
import LinkInline from "../components/inlines/LinkInline.astro"
---

<footer class="border-t-2 border-base-light py-4">
  <p>
    Généré par <LinkInline to="https://docs.astro.build/">Astro</LinkInline> - Hébergé par
    <LinkInline to="https://www.netlify.com/">Netlify</LinkInline>
  </p>
</footer>
