---
import LinkInline from "$components/inlines/LinkInline.astro"
import DarkMode from "./DarkMode.astro"
/**
 * Simple footer. Mainly used to give some credits to Cesar.
 */
---

<footer class="flex border-t-2 border-base-light py-6 dark:border-base-dark">
  <span>
    Source on <LinkInline to="https://github.com/GoulvenC/goulven-clech.dev">Github</LinkInline> - Powered
    by <LinkInline to="https://docs.astro.build/">Astro</LinkInline>
  </span>
  <DarkMode />
</footer>
