---
import DarkMode from "$components/icons/DarkMode.astro"
import ToTop from "$components/icons/ToTop.astro"
/**
 * Simple footer. Mainly used to give some credits to Cesar.
 */
---

<footer class="my-12 flex items-center gap-6 text-font-light dark:text-font-dark sm:my-18">
	<ToTop />
	<DarkMode />
	<a
		class="hover:text-primary dark:hover:text-primary"
		href="/about"
		title="About this blog"
		aria-label="About this blog"
	>
		<i class="fa-solid fa-circle-info"></i>
	</a>
	<a
		class="hover:text-primary dark:hover:text-primary"
		href="https://github.com/goulvenclech/goulven-clech.dev/"
		aria-label="GitHub"
		title="See source code"
	>
		<i class="fab fa-github"></i>
	</a>
	<a
		class="hover:text-primary dark:hover:text-primary"
		href="https://www.linkedin.com/in/goulvenclech//"
		aria-label="LinkedIn"
		title="My LinkedIn profile"
	>
		<i class="fab fa-linkedin"></i>
	</a>
</footer>
