---
import DarkMode from "./DarkMode.astro"
/**
 * Simple header, with a nav to our mains pages & dark mode button.
 */

//used by header links, kind of bored to do a component just for that...
const cssClasses = "align-middle text-lg md:text-xl font-bold hover:text-primary px-3"
---

<header class="py-2">
  <nav class="flex place-content-end">
    <a href="/blog" class={cssClasses}>
      <i class="fa-solid fa-newspaper"></i>
    </a>

    <a href="/tags" class={cssClasses}>
      <i class="fa-solid fa-tags"></i>
    </a>

    <a href="/search" class={cssClasses}>
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>

    <DarkMode />
  </nav>
</header>
