---
import "@fontsource/work-sans"
import BaseLayout from "./BaseLayout.astro"
import Footer from "./Footer.astro"
/**
 * Simple layout for all our mains pages.
 * Roughly, wrap our content into a container with the header & footer 🤷‍♂️
 * @param {string} title - What is this page about?
 */
interface Props {
  title: string
  description?: string
  img?: string
}

const { title, description, img } = Astro.props
---

<BaseLayout title={title} description={description} img={img}>
  <main>
    <div class="mx-auto max-w-screen-sm">
      <slot />
    </div>
  </main>
  <Footer />
</BaseLayout>

<style is:global>
  p {
    @apply mb-6 text-base;
  }
</style>
