---
import BaseLayout from "./BaseLayout.astro"
import Footer from "./Footer.astro"
/**
 * Simple layout for all our mains pages.
 * Roughly, wrap our content into a container with the header & footer 🤷‍♂️
 * @param {string} title - What is this page about?
 */
interface Props {
  title: string
  description?: string
  img?: string
}

const { title, description, img } = Astro.props
---

<BaseLayout title={title} description={description} img={img}>
  <main
    class="bg-body-light font-sans text-[17px] text-base-light dark:bg-body-dark dark:text-base-dark"
  >
    <div class="mx-auto max-w-screen-sm py-8">
      <slot />
    </div>
  </main>
  <Footer />
</BaseLayout>

<style is:global>
  p {
    @apply mb-6 px-3 text-base sm:px-6 md:px-9;
  }
  /* Iosevka Etoile font */
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
</style>
